<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Expense Details</title>
</head>
<body>
<h2>Expense Details</h2>
    
<div class="row">  
    <div class="col-md-3"><b>Receipt Number</b></div><div class="col-md-3">{{ExpenseDetails.receiptNumber}}</div>  
</div>  
<div class="row">  
    <div class="col-md-3"><b>Receipt Date</b></div><div class="col-md-3">{{ExpenseDetails.receiptDate}}</div>  
</div>  
  
<div class="row">  
    <div class="col-md-3"><b>Item Description</b></div><div class="col-md-3">{{ExpenseDetails.itemDescription}}</div>  
</div>  
<div class="row">  
    <div class="col-md-3"><b>Amount</b></div><div class="col-md-3">{{ExpenseDetails.amount}}</div>  
</div>  
<div class="row">  
    <div class="col-md-3"><b>Reimbursement Amount</b></div><div class="col-md-3">{{ExpenseDetails.reimbursementAmount}}</div>  
</div>  
</body>
</html>